// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Window-Rules

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
  // This regular expression is intentionally made as specific as possible,
  // since this is the default config, and we want no false positives.
  // You can get away with just app-id="wezterm" if you want.
  match app-id=r#"^org\.wezfurlong\.wezterm$"#
  default-column-width {}
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
  // This app-id regular expression will work for both:
  // - host Firefox (app-id is "firefox")
  // - Flatpak Firefox (app-id is "org.mozilla.firefox")
  match app-id=r#"firefox$"# title="^Picture-in-Picture$"
  open-floating true
}

window-rule {
  match app-id="mpv$"
  match app-id="imv$"
  match app-id="mplayer$"
  match app-id="iwgtk$"
  match app-id="thunar$"
  match app-id="pavucontrol$"
  match app-id="galculator$"
  open-floating true
  default-window-height { proportion 0.5; }
  default-column-width { proportion 0.5; }
}

window-rule {
  match app-id="galculator$"
  open-floating true
  default-window-height { proportion 0.3; }
  default-column-width { proportion 0.2; }
}

window-rule {
  match title=r#"(?i)dialog"#
  match title=r#"^Extension: "#
  match title=r#"^File Properties"#

  open-floating true
  default-column-width {}
  default-window-height {}
}

// Idle inhibit for Browsers on YouTube
//window-rule {
//    match app-id=r#"^(firefox|org\.mozilla\.firefox|google-chrome|chromium|brave-browser|zen)$"#
//    match title=r#".*YouTube.*"#

//    block-out-from-screen-power-off "when-focused"
//}

// Idle inhibit for Browsers in Fullscreen
//window-rule {
//    match app-id=r#"^(firefox|org\.mozilla\.firefox|google-chrome|chromium|brave-browser|zen)$"#

//    block-out-from-screen-power-off "when-fullscreen"
//}

// Example: block out two password managers from screen capture.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#

    block-out-from "screen-capture"

    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}
